<%if @listing.errors.any?%>
  <div class="alert alert-danger" role="alert">
  <h2><%=pluralize(@listing.errors.count, "errror")%> prohibited this listing from being saved:</h2>
    <div class="alert alert-warning" role="alert">
      <ol>
      <%@listing.errors.full_messages.each do |error| %>
      <li> <%=error%>. <br></li>
      <%end%>
      </ol>
    </div>
  </div>
<%end%>

<%= form_for @listing do |f| %> 

  Address: 
    <div class="jt-address-autocomplete">
        <!-- This field is used to search the address on Google Maps -->
        <%= f.text_field :address, class: 'jt-address-search' %>

        <!-- All fields are hidden because the javascript will set their value automatically -->
        <% for attr in JT::Rails::Address.fields %>
            <%= f.hidden_field "address_#{attr}", class: "jt-address-field-#{attr}" %>
        <% end %>
    </div>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>


 
