<div class="row">
  <div class="panel panel-default">
	<div class="panel-body">


		<div class="col-md-7">

		<br>
		<%= image_tag @listing.picture[0].main.url if @listing.picture? %>
		<br><br>
		<%= image_tag @listing.picture[1].thumb.url if @listing.picture? %>
		</div> 	<!-- col-md-3 -->

		<div class="col-md-5">
			<h1><strong> <%= @listing.name%></strong></h1>
			<% @listing.tags.any? %>
			<% @listing.tags.each do |tag| %>
			<span class="label label-info tags"><%= tag %></span>
			<% end %>
			<br><br>
			<p><strong>By:</strong> <%=@listing.user.first_name%> <%=@listing.user.last_name%>
				<p><strong>Availibility:</strong><br>
				<%=@listing.start%> - <%=@listing.end%></p>
				</p>
				<p><strong>City:</strong> <%=@listing.address_city%></p>
				
				
				<p><strong>Cost per night:</strong></p><p> £ <%= @listing.price %></p>
				<%= button_to "Book NOW", new_listing_booking_path(@listing), 
				      :class => "btn btn-danger btn-lg", :method => :get %>


			<%= link_to 'Edit', edit_listing_path(@listing) %>
		</div> <!-- col-md-6 -->

    </div>	
  </div>
    <div class="col-md-4">
		<p class="glyphicon glyphicon-home">
		  <strong>Room type:</strong>
		  <%= @listing.room_type %>
		</p>
		<p class="glyphicon glyphicon-user">
		  <strong>Number of guests:</strong>
		  <%= @listing.num_of_guest %>
		</p>
		<p class="glyphicon glyphicon-pencil">
		  <strong>Description:</strong>
		  <%= @listing.body %>
		</p>


	</div>

    <div class="col-md-4">
    	<h1>User Details</h1>

    	<p>
		  <strong>Name:</strong>
		  <%= @user.first_name %> <%= @user.last_name %>
		</p>
		<p>
		  <strong>Description:</strong>
		  <%= @user.about %>
		</p>
		Contact Details
		<p>
		  <%= @user.email %>
		  <%= @user.phone %>
		</p>

    </div> <!-- col-md-4 -->


</div>  

