
<div class="container">
<div class="row">

	
	<div class="col-md-8">


		<h1><%=@listing.name%>, <small><%=@listing.address_city%>, <%=@listing.address_state%></small></h1>

		<%= image_tag @listing.picture[0].main.url, class: "img-responsive" if @listing.picture? %>

		<br><br>



		<% @listing.picture.each do |pic| %>
			<img src="<%=pic.thumb.url%>" />
		<%end%>

				<p class="glyphicon glyphicon-home">
				  <strong>Room type:</strong>
				  <%= @listing.room_type %>
				</p>
				<p class="glyphicon glyphicon-user">
				  <strong>Number of guests:</strong>
				  <%= @listing.num_of_guest %>
				</p>
				<p class="glyphicon glyphicon-pencil">
				  <strong>Description:</strong>
				  <%= @listing.body %>
				</p>

	</div> 	<!-- col-md-8 -->


		<div class="col-md-4">
		<h1>&nbsp</h1>
			<div class="booking-red" id="scroll-with-me">
			<h3><strong> <%= @listing.name%></strong></h3>
			<% @listing.tags.any? %>
			<% @listing.tags.each do |tag| %>
			<span class="label label-info tags"><%= tag %></span>
			<% end %>
			<br><br>
			<p><strong>By:</strong> <%=@listing.user.first_name%> <%=@listing.user.last_name%>
				<p><strong>Availibility:</strong><br>
				<%=@listing.start%> - <%=@listing.end%></p>
				</p>
				<p><strong>City:</strong> <%=@listing.address_city%></p>
				
				
				<p><strong>Cost per night:</strong></p><p> £ <%= @listing.price %></p>
				<%= button_to "Book NOW", new_listing_booking_path(@listing), 
				      :class => "btn btn-danger btn-lg", :method => :get %>


			<%= link_to 'Edit', edit_listing_path(@listing) %>
			</div>
		</div> <!-- col-md-4 -->

		<%if @listing.nearbys(100).nil?%>
		<%else%>
		<h3>Nearby</h3>		

		<% for listing in @listing.nearbys(100, {:units => :km})%>
		<li><%= link_to listing.name, listing %> (<%= listing.distance.round(2) %> km)</div>
		<%end%>
		<%end%>
</div>

</div>

	<div id="map"> </div>	




