<div class="container">
<div class="row">


	<div class="col-md-8">


		<h1><%=@listing.name%>, <small><%=@listing.address_city%>, <%=@listing.address_state%></small></h1>

		<%= image_tag @listing.picture[0].main.url, class: "img-responsive" if @listing.picture? %>

		<br><br>

		<% @listing.picture.each do |pic| %>
			<img src="<%=pic.thumb.url%>" />
		<%end%>

	    <div class="col-md-4">
				<p class="glyphicon glyphicon-home">
				  <strong>Room type:</strong>
				  <%= @listing.room_type %>
				</p>
				<p class="glyphicon glyphicon-user">
				  <strong>Number of guests:</strong>
				  <%= @listing.num_of_guest %>
				</p>
				<p class="glyphicon glyphicon-pencil">
				  <strong>Description:</strong>
				  <%= @listing.body %>
				</p>
			</div>


	</div> 	<!-- col-md-8 -->


		<div class="col-md-4">
		<h1>&nbsp</h1>
			<div class="booking-red" id="scroll-with-me">
			<h3><strong> <%= @listing.name%></strong></h3>
			<% @listing.tags.any? %>
			<% @listing.tags.each do |tag| %>
			<span class="label label-info tags"><%= tag %></span>
			<% end %>
			<br><br>
			<p><strong>By:</strong> <%=@listing.user.first_name%> <%=@listing.user.last_name%>
				<p><strong>Availibility:</strong><br>
				<%=@listing.start%> - <%=@listing.end%></p>
				</p>
				<p><strong>City:</strong> <%=@listing.address_city%></p>
				
				
				<p><strong>Cost per night:</strong></p><p> £ <%= @listing.price %></p>
				<%= button_to "Book NOW", new_listing_booking_path(@listing), 
				      :class => "btn btn-danger btn-lg", :method => :get %>


			<%= link_to 'Edit', edit_listing_path(@listing) %>
			</div>
		</div> <!-- col-md-4 -->





    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>

    <div id="map"></div>
    <script>

var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 8
  });
}

    </script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-DyA8fXxHsxqJ4zg7rxM3NFQKI2lFPdI	
&callback=initMap"
        async defer></script>

