<%= include_gon %>

<div class="container">
	<div class="row">

		<h1><%=@listing.name%>, <small><%=@listing.address_city%>, <%=@listing.address_state%></small></h1>

		<div class="col-md-8">
			<%= render "listings/show/images" %>
			<%= render "listings/show/information" %>
			<%= render "listings/show/user" %>
		</div> 	<!-- col-md-8 -->

		<%= render "listings/show/sidebar" %>

	</div>   	<!-- row -->

<%= render "listings/show/nearby" %>
</div>  	<!-- container -->

<br>
<%= render "listings/show/map" %>