<div class="container classic-form">
  <h2>Book your stay <small>in <%=@listing.name%></small></h2>

  <%= form_for [@listing, @booking] do |f| %>
    
    <%= render partial: "form", locals: { f: f }%>

    <%= f.hidden_field :amount, value: @listing.price %>
    <%= f.hidden_field :listing_id, value: @listing.id %>
    <div id="payment-form"></div>
    <p>
      <%= f.submit 'Submit', class: 'btn btn-danger btn-lg' %>
    </p>
   
  <% end %>
 
<%= link_to 'Back', @listing %>
</div>


<script>
braintree.setup('<%= @client_token %>', "dropin", {
  container: "payment-form"
});
</script>
