

<%= form_for [@listing, @booking] do |f| %>  
  <p>
    <%= f.label :check_in %><br>
    <%= f.date_field :check_in %>
  </p>

  <p>
    <%= f.label :check_out %><br>
    <%= f.date_field :check_out %>
  </p> 

  <p>
    <%= f.label :guests %><br>
<%= select(:booking, :guests, [[1], [2], [3], [4], [5], [6], [7], [8]]) %>
  </p>  

  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', @listing %>
