<h1>Booking information</h1>

Property: <%= @booking.listing.name%> <br>
Check-in: <%= @booking.check_in%> <br>
Check-out: <%= @booking.check_out%> <br>
Guests: <%= @booking.guests%> <br>
By : <%= @booking.user.first_name%> <br><br>

Total cost: <%= @booking.amount%> <br>

<br>

<%= link_to 'Edit', edit_booking_path(@booking) %>


<%= link_to 'Cancel booking', booking_path(@booking),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>