<div class="container">
<h1>Booking information</h1>

<strong>Property:</strong> <%= @booking.listing.name%> <br>
<strong>Check-in:</strong> <%= @booking.check_in%> <br>
<strong>Check-out:</strong> <%= @booking.check_out%> <br>
<strong>Guests:</strong> <%= @booking.guests%> <br>
<strong>By:</strong> <%= @booking.user.first_name%> <br><br>

<strong>Total cost:</strong> <%= @booking.amount%> <br>

<h3>Contact information</h3>
<strong>Owner name:</strong> <%=@booking.listing.user.first_name%> <%=@booking.listing.user.last_name%><br>
<strong>Email:</strong> <%=@booking.listing.user.email%><br>
<strong>Phone:</strong> <%=@booking.listing.user.phone%><br><br>

<%= link_to 'Edit', edit_booking_path(@booking) %>


<%= link_to 'Cancel booking', booking_path(@booking),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</div>	