<h3>User information</h3>
<hr>

<div class="pull-left user-profile text-center">
	<img class="img-circle img-responsive" src="<%=@listing.user.picture.thumb.url%>">
</div>

<div>
	<%if current_user%>

		<%= render 'listings/message' %>

		<p class="pull-right">
			<button type="button" class="btn btn-warning glyphicon glyphicon-envelope" data-toggle="modal" data-target="#message" data-whatever="<%=@listing.user.last_name%>"></button>
		</p>

	<%else%>

		<p class="pull-right">
			<a href="/sign_up" class="btn btn-warning glyphicon glyphicon-envelope"></a>
		</p>

	<%end%>

	<p class="pull-left">
		<h4 class="glyphicon glyphicon-user"></strong> <%=@listing.user.first_name%> <%=@listing.user.last_name%></h4>
	</p>
	
	<p>
		<strong>About:</strong> <%=@listing.user.about%>
	</p>
</div>

<div class="clearfix"></div>