<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'https://js.braintreegateway.com/v2/braintree.js', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>

  <body>
    <%= render '/navigation/nav' %>
    <br><br><br>
    <%= render '/layouts/errors' %>

    <%= yield %>
    
    <%= render '/layouts/footer' %>
  </body>
</html>
